header,
section,
footer
{
    display: block;
}
/*CHANGE*/
body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}

header{
    margin-bottom: 20px;
}
.wide {
  width:100%;
  height:20%;
  height:calc(20% - 1px);
  background-image:url('images/background.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}
/*End Change*/
body {
    color: #666666;
    background-color: #f9f8f6;
    //background-image: url("images/dark-wood.jpg");
    background-position: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4em;
    margin: 0px;
}

// #wrapper {
//     width: 1170px;
//     margin: 20px auto 20px auto;
//     //border: 2px solid #000000;
//     background-color: #ffffff;
// }

h1 {
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
    text-transform: uppercase;
}

nav li a {
    color: #ffffff;
}

nav li a:hover,
nav li a.current {
    color: #000000;
}

section.bookyourtrip {
    margin: 20px 0px 20px 20px;
    float: left;
    width: 940px;
    height: 500px;
    //border-right: 1px solid #eeeeee;
}

a {
    color: #de6581;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

.btn-horizontal {
    background-repeat: no-repeat;
    height: 15px;
    //width: 15px;
    background-position: center center;
    display: block;
    background-size: contain;
    margin: 0 7px;
}

.icon-roundtrip {
    background-image: url("images/icon_arrows.png");
}

.icon-oneway {
    background-image: url("images/icon_arrows_oneway.png");
}

.form-group {
    margin-bottom: 15px;
}

.location-picker-title {
    position: absolute;
    padding: 14px 14px;
    height: 50px;
    font-size: 16px;
    opacity: 0.5;
}

.input-default {
    height: 30px;
    //max-width: 200px !important;
    background-color: #FFF !important;
    border: solid #ccc 2px !important;
    padding: 6px 16px;
    font-size: 18px !important;
    font-weight: bold;
}

.input-selection-box {
    padding: 8px 16px 8px 100px !important;
}

.selection-option {
    height: 30px;
    padding-left: 20px;
}

.location-picker {
    display: inline-block;
    //position: relative;
    padding-right: 10px;
}

.date-picker {
    display: inline-block;
    margin: 0px 50px 0px 0px;
}

.datepicker-checkout{
    display : none !important;
}

.people-selection-box{
    padding: 8px 16px 8px 20px !important;
}

.ticket-selection-box{
    padding: 8px 16px 8px 20px !important;
}

.inline-label { 
    white-space: nowrap;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;  
    margin-right: 15%;   
}

.bookyourtrip-location-wapper, .bookyourtrip-datepicker-wrapper, .bookyourtrip-guestqualitity-wrapper{
    max-width: 1000px;
    margin: 30px 0px 30px 0px;
}

/*Change background color of links on hover*/
ul.naviga-blue li a:hover, ul.naviga-blue li.active a {
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-color: transparent;
}
/*Style the links inside the list items*/
ul.naviga-blue li a {
    background-color: #aeaca8;
    color: #333;
    font-size: 13px;
    display: block;
    padding: 3px 25px;
    border-radius: 30px;
    line-height: 23px;
    transition: all 0.3s ease-in-out 0s;
}

ul.naviga-blue li{
    padding-right: 5px;
    float: left;
    list-style-type: none;
    border: none !important;
}

.naviga-blue a {
    border: 1px solid transparent;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}
/*-------------------PAGE 02-----------------------------*/
.table tr.inforticket:hover{
    background-color: blue;
}
// .ui-widget-header {
//     background: #fe5815 none repeat scroll 0 0;
//     border: 1px solid #fe5815;
// }
/*-------------------PAGE 03-----------------------------*/
#wrap {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 0 solid #dddede;
    border-radius: 16px 0 4px 4px;
    border-top: 3px solid #204d74;
    color: #525759;
    font-family: GraublauWeb;
    margin: 0 auto;
    min-height: 489px;
    padding: 10px 20px 20px;
    position: relative;
}

.head-title1 {
    color: #204d74;
    font-family: GraublauWeb;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
}

.head-title2 {
    color: #132e45;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
}

.review .total-price {
    border: 2px dashed #00AA00;
    color: #008900;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
}
.common-button2 {
    background: #fa5614;
    background: -webkit-linear-gradient(#fa5614, #fe8858);
    background: -o-linear-gradient(#fa5614, #fe8858);
    background: -moz-linear-gradient(#fa5614, #fe8858);
    background: linear-gradient(#fa5614, #fe8858);
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 5px 15px;
    text-transform: uppercase;
}

.total{
    color: tomato;
}

#submitFlight {
    padding: 10px 0;
    text-align: right;
}

#submitFlight .moreScroll {
    display: none;
}

#submitFlight.fixed {
    border: 1px dashed rgb(237, 27, 36);
}

#submitFlight.fixed {
    background: #f7f7f7 none repeat scroll 0 0;
    bottom: 0;
    color: #fe5815;
    height: 41px;
    left: -1px;
    padding: 10px;
    position: fixed;
    text-align: center;
    text-indent: 10px;
    width: 100%;
    z-index: 3;
}

#submitFlight.fixed .moreScroll {
    display: block;
    font-size: 17px;
    margin: auto;
    text-align: center;
    width: 500px;
}

#table-guest td{
    width: 50%;
}
/*-------------------PAGE 04-----------------------------*/







